In [3]:
"# Imported libraries for data analysis and visualization"
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats
import statsmodels.api as sm

In [4]:
"#Loaded the Boston housing dataset into a DataFrame using pandas"
boston_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ST0151EN-SkillsNetwork/labs/boston_housing.csv'
boston_df = pd.read_csv(boston_url)

In [5]:
"#The first 10 rows of the Boston housing dataset"
boston_df.head(10)

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,5.33,36.2
5,5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,5.21,28.7
6,6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,12.43,22.9
7,7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,19.15,27.1
8,8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,29.93,16.5
9,9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,17.10,18.9

In [6]:
"# Check the first few rows to understand the data"
print(boston_df.head())

   Unnamed: 0     CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  \
0           0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0
1           1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0
2           2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0
3           3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0
4           4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0

     TAX  PTRATIO  LSTAT  MEDV
0  296.0     15.3   4.98  24.0
1  242.0     17.8   9.14  21.6
2  242.0     17.8   4.03  34.7
3  222.0     18.7   2.94  33.4
4  222.0     18.7   5.33  36.2

In [7]:
    "# Compute the Pearson correlation coefficient between 'NOX' and 'INDUS'",
    correlation = boston_df['NOX'].corr(boston_df['INDUS'])
    print(f'Pearson Correlation Coefficient between NOX and INDUS: {correlation}')

Pearson Correlation Coefficient between NOX and INDUS: 0.7636514469209147

In [ ]:
"#Can't deny that there is no relationship, as we observed significant strong positive linear relationship between 'NOX'and'INDUS'"